table {
  border-collapse: collapse;
}

table, th, td {
    text-align: center;
}

th, td {
	padding: 10px;
}

.header {
	background-color: #bbb;
}

tr:nth-child(even).content {
	background-color: #ddd;
}
